<%- include('partials/header') %>

<div class="container">
  <div class="row mt-5">
    <h1 class="text-center border-botton">
      Listado de las trabajo del aeropuerto
    </h1>
    <div class="col">
      <div class="col-md-3 mb-2">
        <a href="/crearReserva" class="btn btn sm btn-primary" id>nuevo </a>
        <a href="/" class="btn btn-info text-light">Inicio</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>fecha de la reserva</th>
            <th>fecha de regreso</th>
            <th>Cantidad pasajeros</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Aciones</th>
          </tr>
        </thead>
        <tbody id="listadotrabajo"></tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/listadoReserva.js"></script>

<%- include('partials/footer') %>
